<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiking Banner</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="banner">
            <nav>
                <div class="logo">
                    <img src="images/logo1.jpeg" alt="Logo" class="logo">
                </div>
                <ul>
                    <li class="logo-text">Hiking <b>Life</b>
                    </li>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="class.html">Class</a></li>
                    <li><a href="promo.html">Promo</a></li>
                    <li><a href="online_class.html">Online Class</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>

            </nav>
            <div class="content">
                <h1>Discover your<br>next Hike</h1>

                <h3>DISCOVER YOUR<br>NEXT HIKE</h3>

                <p>
                    Lorem ipsum dolor sit amet,<br>
                    consectetur adipiscing elit,<br>
                    sed do.
                </p>
            </div>

            <div class="image-box">

                <img src="images/hero-img.jpeg" alt="Hiking">
            </div>

        </div>
    </div>



</body>

</html>